{% extends "seller/base.html" %}
{% block content %}
        <div class="container" style="width: 92%; height: 100%; margin-top: 100px; background: rgba(255,255,255,0.85)">
            <div class="left">
                <h3>
                    {% if pic == '' %}
                        <a href="/seller/sellerinfo?userId={{ userId }}"><img style="height: 50%; width: 50%" src="../static/information/img/flower.jpg"/></a>
                    {% else %}
                        <a href="/seller/sellerinfo?userId={{ userId }}"><img style="height: 50%; width: 50%" src="{% url 'photoSeller' seller.id %}"/></a>
                    {% endif %}
                    <span >{{ seller.name }}</span>
                </h3>
                <div>
                    <h4>Description</h4>
                    <ul>
                        <li>{{ seller.desc }}</li>
                    </ul>
                    <h4>Address</h4>
                    <ul>
                        <li>{{ seller.address }}</li>
                    </ul>
                    <h4>Zip Code</h4>
                    <ul>
                        <li>{{ seller.zip }}</li>
                    </ul>
                    <h4>QR Code</h4>
                    {% if qrcode == '' %}
                        <a href="#"><img style="height: 50%; width: 50%" src="https://image-static.segmentfault.com/149/570/149570997-5b987cc928d69_articlex"/></a>
                    {% else %}
                        <a href="#"><img style="height: 50%; width: 50%" src="{% url 'photoQR' seller.id %}"/></a>
                    {% endif %}
                    <ul>
                        <li><a href="addItems?sellerId={{ sellerId }}">Add Items</a></li>
                    </ul>
                    <ul>
                        <li><a href="sellerSetting?sellerId={{ sellerId }}">Setting</a></li>
                    </ul>
                    <ul>
                        <li><a href="/seller/sellerinfo?userId={{ userId }}">My Shop</a></li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <h2><strong>Item details</strong></h2>
                <img style="width: 200px" src="{% url 'photoDetail' itemId %}">
                <div class="flex">
                    <form method="post" action="itemDetail?itemId={{ itemId }}" enctype="multipart/form-data">
                        {% for field in form.visible_fields %}
                            <label style="position: relative; top: 8px">{{ field.label_tag }}</label>
                            <div>{{ field }}</div>
                        {% endfor %}
                        {% csrf_token %}
                        <div>
                            <div style="position: relative; top: 15px"><button type="submit">Confirm Changes</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
