{% extends "seller/base.html" %}
{% block content %}
        <div class="container" style="width: 92%; height: 100%; margin-top: 100px; background: rgba(255,255,255,0.85)">
            <div class="left">
                <h3>
                    {% if pic == '' %}
                        <a href="/seller/sellerinfo?userId={{ userId }}"><img src="../static/information/img/flower.jpg"/></a>
                    {% else %}
                        <a href="/seller/sellerinfo?userId={{ userId }}"><img src="{% url 'photoSeller' seller.id %}"/></a>
                    {% endif %}
                    <span >{{ seller.name }}</span>
                </h3>
                <div>
                    <h4>Description</h4>
                    <ul>
                        <li>{{ seller.desc }}</li>
                    </ul>
                    <h4>Address</h4>
                    <ul>
                        <li>{{ seller.address }}</li>
                    </ul>
                    <h4>Zip Code</h4>
                    <ul>
                        <li>{{ seller.zip }}</li>
                    </ul>
                    <h4>QR Code</h4>
                    {% if qrcode == '' %}
                        <a href="#"><img src="https://image-static.segmentfault.com/149/570/149570997-5b987cc928d69_articlex"/></a>
                    {% else %}
                        <a href="#"><img src="{% url 'photoQR' seller.id %}"/></a>
                    {% endif %}
                    <ul>
                        <li><a href="addItems?sellerId={{ sellerId }}">Add Items</a></li>
                    </ul>
                    <ul>
                        <li><a href="sellerSetting?sellerId={{ sellerId }}">Setting</a></li>
                    </ul>
                    <ul>
                        <li><a href="/seller/sellerinfo?userId={{ userId }}">My Shop</a></li>
                    </ul>
                </div>
            </div>
            <div class="right" style="position: relative">
                <h2>
                    <strong>Your Items</strong>
                </h2>
                <ul class="book_type_list clearfix" style="margin:0 auto; width: 800px; position: relative">
                    {% for item in items %}
                        <li>
                            <a href="itemDetail?itemId={{ item.id }}"><img style="width: 125px" src="{% url 'photoDetail' item.id %}"></a>
                            <h4><a href="itemDetail?itemId={{ item.id }}">{{ item.name }}</a></h4>
                            <div class="operate">
                                <span class="prize">$ {{ item.price }}</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
{% endblock %}
