body{font-family:'Microsoft Yahei';font-size:13px;color:#666;}
/* Top part */
.book_count{
	font-weight:bold;color:#ff8800;
}

.search_con{
	width:616px;height:38px;border:1px solid #4277ad;margin:34px 0 0 124px;background:url(../images/icons.png) 10px -338px no-repeat;
}
.search_con .input_text{
	width:470px;height:34px;border:0px;margin:2px 0 0 36px;outline:none;font-size:12px;color:#737272;font-family:'Microsoft Yahei';

}

.search_con .input_btn{
	width:100px;height:38px;background-color:#4277ad;border:0px;font-size:14px;color:#fff;font-family:'Microsoft Yahei';outline:none;cursor:pointer;
}
