*.log
*.pot
*.pyc
local_settings.py

# Editor backup files
*~
*#

# Django's SQL Lite Database File
db.sqlite33

# Django generated migrations
0*.py

# Image folder
images
socialnetwork/migrations
# MacOS index file
.DS_Store
.idea
