/* Reference: https://github.com/confucianzuoyuan/bookstore/tree/master/bookstore/static/css */
/* Set the default label spacing to 0 */
body,ul,ol,p,h1,h2,h3,h4,h5,h6,dl,dd,select,input,textarea,form{margin:0;padding:0}

/* Let the h tag text size inherit the body text setting */
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

/* Remove the default icon from the list */
ul,ol{list-style:none;}

/* Remove the default italics from em */
em{font-style: normal;}

/* Remove the default underscore for the A tag */
a{text-decoration:none;}

/* Remove the box line that was created when the link was added */
img{border:0;}

/* clear original float */
.clearfix:before,
.clearfix:after{content:"";display:table}
.clearfix:after{clear:both;}
.clearfix{zoom:1}

/* float */
.fl{float:left}
.fr{float:right}
