{% extends "eCommerce/base.html" %}
{% block content %}
    <div class="content">
        <div class="container" style="width: 92%; height: 100%; margin-top: 100px; background: rgba(255,255,255,0.85)">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Cost</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td1">
                            <div class="inline">
                                <input type="checkbox">
                            </div>
                            <a href="#" class="inline-img"><img src="../static/eCommerce/img/flower.jpg" alt="flower"></a>
                            <div class="inline-p">
                                
                                <p>Product name</p>
                                
                                    
                            </div>
                        </td>
                        <td>
                            <div class="price">20 USD</div>
                        </td>
                        <td>
                            <div class="amount">
                                <img src="../static/eCommerce/img/sub.jpg" alt="sub">
                                <span>1</span>
                                <img src="../static/eCommerce/img/add.jpg" alt="add">
                            </div>
                        </td>
                        <td>
                            <div class="price">20 USD</div>
                        </td>
                        <td>
                            <div class="Button">Delete</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">
                            <div class="inline">
                                <input type="checkbox">
                            </div>
                            <a href="#" class="inline-img"><img src="../static/eCommerce/img/flower.jpg" alt="flower"></a>
                            <div class="inline-p">
                                
                                <p>Product name</p>
                                
                                    
                            </div>
                        </td>
                        <td>
                            <div class="price">20 USD</div>
                        </td>
                        <td>
                            <div class="amount">
                                <img src="../static/eCommerce/img/sub.jpg" alt="sub">
                                <span>1</span>
                                <img src="../static/eCommerce/img/add.jpg" alt="add">
                            </div>
                        </td>
                        <td>
                            <div class="price">20 USD</div>
                        </td>
                        <td>
                            <div class="Button">Delete</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">
                            <div class="inline">
                                <input type="checkbox">
                            </div>
                            <a href="#" class="inline-img"><img src="../static/eCommerce/img/flower.jpg" alt="flower"></a>
                            <div class="inline-p">
                                
                                <p>Product name</p>
                                
                                    
                            </div>
                        </td>
                        <td>
                            <div class="price">20 USD</div>
                        </td>
                        <td>
                            <div class="amount">
                                <img src="../static/eCommerce/img/sub.jpg" alt="sub">
                                <span>1</span>
                                <img src="../static/eCommerce/img/add.jpg" alt="add">
                            </div>
                        </td>
                        <td>
                            <div class="price">20 USD</div>
                        </td>
                        <td>
                            <div class="Button">Delete</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">
                            <div class="inline">
                                <input type="checkbox">
                            </div>
                            <a href="#" class="inline-img"><img src="../static/eCommerce/img/flower.jpg" alt="flower"></a>
                            <div class="inline-p">
                                
                                <p>Product name</p>
                                
                                    
                            </div>
                        </td>
                        <td>
                            <div class="price">20 USD</div>
                        </td>
                        <td>
                            <div class="amount">
                                <img src="../static/eCommerce/img/sub.jpg" alt="sub">
                                <span>1</span>
                                <img src="../static/eCommerce/img/add.jpg" alt="add">
                            </div>
                        </td>
                        <td>
                            <div class="price">20 USD</div>
                        </td>
                        <td>
                            <div class="Button">Delete</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">
                            <div class="inline">
                                <input type="checkbox">
                            </div>
                            <a href="#" class="inline-img"><img src="../static/eCommerce/img/flower.jpg" alt="flower"></a>
                            <div class="inline-p">
                                
                                <p>Product name</p>
                                
                                    
                            </div>
                        </td>
                        <td>
                            <div class="price">20 USD</div>
                        </td>
                        <td>
                            <div class="amount">
                                <img src="../static/eCommerce/img/sub.jpg" alt="sub">
                                <span>1</span>
                                <img src="../static/eCommerce/img/add.jpg" alt="add">
                            </div>
                        </td>
                        <td>
                            <div class="price">20 USD</div>
                        </td>
                        <td>
                            <div class="Button">Delete</div>
                        </td>
                    </tr>
                </tbody>
        
            </table>
        </div>
    </div>

{% endblock %}
