<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <a href="{% url 'item_detail' %}"><p>item_detail page</p></a>
    <a href="{% url 'list_items' %}"><p>list_items page</p></a>
    <a href="{% url 'profile' %}"><p>profile page</p></a>
    <a href="{% url 'myinfo' %}"><p>myinfo page</p></a>
    <a href="{% url 'cart' %}"><p>cart page</p></a>
    
</body>
</html>
