{% extends "goods/base.html" %}

{% block content %}
    <div class="container" style="width: 92%; height: 100% ;background: rgba(255,255,255,0.85)">
        <input id="itemId" type="hidden" value="{{ item.id }}" />
        <div class="container" style="margin-top: 20px">
            <div class="breadcrumb" style="background: rgba(255,255,255,0)">
                <a href="list_items">All Categories</a>
                <span>></span>
                <a href="list_items?category={{ item.category }}">{{ item.category }}</a>
                <span>></span>
                <a href="item_detail?itemId={{ item.id }}">{{ item.name }}</a>
            </div>

            <div class="book_detail_con clearfix">
                {# Picture Reference: https://www.amazon.com/ #}
                <div class="book_detail_pic fl"><img style="width:380px" src="{% url 'photo' item.id %}"></div>

                <div class="book_detail_list fr">
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.desc }}</p>
                    <div class="prize_bar">
                        <span class="show_pirze">$<em id="price">{{ item.price }}</em></span>
                        <span class="show_unit">Unit：{{ item.unit }}</span>
                    </div>
                    <div class="book_num clearfix">
                        <div class="num_name fl">Qty：</div>
                        <div class="num_add fl">
                            <select id="qty" class="num_add" οnchange="calTotal()">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </div>
                    </div>
                    <div class="total">Total：<em>$ <span id="totalPrice">{{ item.price }}</span></em></div>
                    <div class="operate_btn">
                        <a href="javascript:;" class="buy_btn">Buy Now</a>
                        <a class="add_cart" id="add_cart" onclick="add_to_cart()">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main_wrap clearfix" style="margin-top: 200px">
            <div class="l_wrap fl clearfix">
                <div class="new_book">
                    <p>Recommendation</p>
                        <ul>
                            {% for rec in recommend %}
                            <li>
                            {# Picture Reference: https://www.amazon.com/ #}
                                <a href="item_detail?itemId={{ rec.id }}"><img src="{% url 'photo' rec.id %}"></a>
                                <h4><a href="item_detail?itemId={{ rec.id }}">{{ rec.name }}</a></h4>
                                <div class="operate">
                                    <span class="prize">$ {{ rec.price }}</span>
                                    <a href="#" class="add_book" title="add_to_cart"></a>
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                </div>
            </div>

            <div class="r_wrap fr clearfix">
                <ul class="detail_tab clearfix">
                    <li class="active">Product Description</li>
                </ul>

                <div class="tab_content">
                    <dl>
                        <dt>Product Detail：</dt>
                        <dd>{{ item.detail }}</dd>
                    </dl>
                </div>
            </div>
            <br><br>
        </div>
    </div>
{% endblock %}

{% block addScript %}
    function calTotal() {
        document.getElementById("totalPrice").innerText = (parseFloat($('select#qty').val()) * parseFloat(document.getElementById("price").innerText)).toFixed(2);
    }

    $(function(){
        $("select[id='qty']").change(function(){
            calTotal();
        })
    })
{% endblock %}
