{% extends "goods/base.html" %}

{% block content %}
    <div class="container" style="width: 92%; height: 100% ;background: rgba(255,255,255,0.85)">
            <div class="container" style="margin-top: 20px">
                <div class="breadcrumb" style="background: rgba(255,255,255,0)">
                    <a href="list_items">All Categories</a>
                    {% if category != "all" %}
                        <span>></span>
                        <a href="list_items">{{ category }}</a>
                    {% endif %}
                </div>


                <div class="main_wrap clearfix">
                    <div class="l_wrap fl clearfix">
                        <div class="new_book">
                            <p>Recommendation</p>
                            <ul>
                                {% for rec in recommend %}
                                <li>
                                    <a href="item_detail?itemId={{ rec.id }}&category={{ category }}"><img src="{% url 'photo' rec.id %}"></a>
                                    <h4><a href="item_detail?itemId={{ rec.id }}&category={{ category }}">{{ rec.name }}</a></h4>
                                    <div class="operate">
                                        <span class="prize">$ {{ rec.price }}</span>
                                        <a href="#" class="add_book" title="add_to_cart"></a>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="r_wrap fr clearfix">
                        <div class="sort_bar">
                            {% if orderBy == "id" %}
                                <a class="active" href="list_items?orderBy=id&category={{ category }}&search={{ search }}">Sorted by Featured</a>
                            {% else %}
                                <a href="list_items?orderBy=id&category={{ category }}&search={{ search }}">Sorted by Featured</a>
                            {% endif %}
                            {% if orderBy == "price" %}
                                <a class="active" href="list_items?orderBy=price&category={{ category }}&search={{ search }}">Price: Low to High</a>
                            {% else %}
                                <a href="list_items?orderBy=price&category={{ category }}&search={{ search }}">Price: Low to High</a>
                            {% endif %}
                            {% if orderBy == "-price" %}
                                <a class="active" href="list_items?orderBy=-price&category={{ category }}&search={{ search }}">Price: High to Low</a>
                            {% else %}
                                <a href="list_items?orderBy=-price&category={{ category }}&search={{ search }}">Price: High to Low</a>
                            {% endif %}
                            {% if orderBy == "-id" %}
                                <a class="active" href="list_items?orderBy=-id&category={{ category }}&search={{ search }}">Newest Arrivals</a>
                            {% else %}
                                <a href="list_items?orderBy=-id&category={{ category }}&search={{ search }}">Newest Arrivals</a>
                            {% endif %}
                        </div>

                        <ul class="book_type_list clearfix">
                            {% for item in items %}
                                <li>
                                    <a href="item_detail?itemId={{ item.id }}&category={{ category }}"><img src="{% url 'photo' item.id %}"></a>
                                    <h4><a href="item_detail?itemId={{ item.id }}&category={{ category }}">{{ item.name }}</a></h4>
                                    <div class="operate">
                                        <span class="prize">$ {{ item.price }}</span>
                                        <a href="#" class="add_book" title="add_to_cart"></a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="pagenation">
                            {% if showPre %}
                                <a href="list_items?pageNum={{ prePage }}&orderBy={{ orderBy }}&category={{ category }}&search={{ search }}"><- Previous</a>
                            {% endif %}
                            {% for num in numOfPagesList %}
                                {% if curPage == num %}
                                    <a class="active" href="list_items?pageNum={{ num }}&orderBy={{ orderBy }}&category={{ category }}&search={{ search }}">{{ num }}</a>
                                {% else %}
                                    <a href="list_items?pageNum={{ num }}&orderBy={{ orderBy }}&category={{ category }}&search={{ search }}">{{ num }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if showNext %}
                                <a href="list_items?pageNum={{ nextPage }}&orderBy={{ orderBy }}&category={{ category }}&search={{ search }}">Next -></a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <br><br>
            </div>
    </div>
{% endblock %}


