{% extends "goods/base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="../static/css/button.css"/>
    <div class="content">
        <div class="container" style="width: 92%; height: 100%; margin-top: 100px; background: rgba(255,255,255,0.85)">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Cost</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_item %}
                    <tr>
                        <td class="td1">
                            <div class="inline">
                                <input type="checkbox" name="is_checkbox" id="is-checkbox_{{item.id}}">

                            </div>
                            <a href="#" class="inline-img"><img src="{% url 'photo' item.goods_id %}" alt="item_photo"></a>

                        </td>
                        <td width="150px">
                            <div class="inline-p" style="margin-top: 30px">
                                <div><p>{{item.goods.name}}</p></div>
                            </div>
                        </td>
                        <td>
                            <div class="price"><input style="width: 60px; height: 20px;text-align: center;" type="text" id="price_{{item.id}}" value="{{item.goods.price}}" readonly /></div>
                        </td>
                        <td>
                            <div class="amount">
                                <img  id="num-sub_{{item.id}}" src="../static/eCommerce/img/sub.jpg" onclick="sub({{item.id}})" alt="sub">
                                <input style="width: 28px; text-align: center;" type="text" id="input-num_{{item.id}}" value="1" readonly />

                                <img id="num-add_{{item.id}}" src="../static/eCommerce/img/add.jpg" onclick="add({{item.id}})" alt="add">
                            </div>
                        </td>
                        <td>
                            <div class="price"  >
                                <input style="width: 70px; height: 20px;text-align: center;" type="text" id="cost_num_{{item.id}}" value="{{item.goods.price}}" readonly />
                            </div>
                        </td>
                        <td>
                            <div class="Button" onclick="delete_item({{ item.goods.id }})">Delete</div>
                        </td>
                    </tr>
                    {% endfor %}


                </tbody>

            </table>
            {% if cart_item.count == 0%}
                    <div> No items in the cart </div>
            {% endif %}
            <center><a href="#"  style="" class="button button-caution button-rounded button-jumbo" onclick="pay()">Pay Now</a></center>
        <br>
        </div>
    </div>

    <script>


        function delete_item(itemId) {
            $.ajax({
                url: "/information/delete_item_in_cart",
                type: "GET",
                data: {'itemId': itemId},
                success: function (response) {
                    location.reload();
                }
            })
        }


        function add(id){
            var num_add = document.getElementById("num-add_");
            var input_num = document.getElementById("input-num_"+id);
            var cost = document.getElementById("cost_num_"+id);
            var price = document.getElementById("price_"+id)
            input_num.value = parseInt(input_num.value) + 1;
            cost.value = (input_num.value * parseFloat(price.value)).toFixed(2)

        }

        function sub(id){
            var num_sub = document.getElementById("num-sub_"+id);
            var input_num = document.getElementById("input-num_"+id);
            var cost = document.getElementById("cost_num_"+id);
            var price = document.getElementById("price_"+id)
             if(input_num.value <= 1) {
                input_num.value = 1;
            } else {

                input_num.value = parseInt(input_num.value) - 1;
            }
            cost.value = (parseInt(input_num.value)* parseFloat(price.value)).toFixed(2)
        }

        function pay(){
            var checkbox_list = document.getElementsByName("is_checkbox");
            var content = new Map();
            var cost = 0
            for(var i = 0; i < checkbox_list.length; i++) {
                if(checkbox_list[i].checked) {
                    let str = checkbox_list[i].id
                    let index = str .lastIndexOf("_")
                    let id = str.substring(index+1,str.length)
                    console.log(id)
                    let amount = document.getElementById("input-num_"+id)
                    console.log(amount.value)
                    content.set(id,amount)
                    cost += document.getElementById("cost_num_"+id)
                }
            }
            var comment = ""

            $.ajax({
                url: "/information/pay",
             });
        }

    </script>

{% endblock %}
