{% extends "goods/base.html" %}
{% block content %}
        <link rel="stylesheet" type="text/css" href="../static/css/myinfo2.css"/>
        <script type="text/javascript" src="../static/information/popup.js"></script>
        <div class="container" style="width: 92%; height: 100%; margin-top: 100px; background: rgba(255,255,255,0.85)">
            <div class="left">
                <h3>
                    <a href="#"><img src="../static/information/img/flower.jpg"/></a>
                    <span >{{user.username}}</span>
                </h3>
                <div>
                    <h4>Orders</h4>
                    <ul>
                        <li><a href="{% url 'cart' %}">My Cart</a></li>
                        <li><a href="{% url 'profile' %}">My Orders</a></li>
                    </ul>
                    <h4>Account</h4>
                    <ul>
                        <li  class="on"><a href="{% url 'myinfo' %}">My profile</a></li>
                        <li><a href="{% url 'myinfo' %}">My adress</a></li>
                    </ul>
                    <h4><a href="/seller/sellerinfo?userId={{ userId }}">I'm a Seller.</a></h4>
                </div>
            </div>
            <div class="right">
                <h2><strong>Profile</strong></h2>
                <div class="flex">
                    <div class="col1">
                        <a href="#"> <img src="../static/information/img/flower.jpg" alt=""></a>
                    </div>
                    <div class="col2">
                        <h3 class="title"><strong style="float: left;">Personal info</strong><input id="button" class= "fr" type="submit" value="edit" /></h3>
							<div>Name: {{user.username}}</div>
							<div>Birthday：{{birthday|date:"Y-m-d"}}</div>
							<div>Gender：{{gender}}</div>
							<h3>Default Address</h3>
							<div><span class="fl">{{address}}</span></div>
                    </div>
                </div>

            </div>
            <div id="popupContact">
                <a style="color: brown;" id="popupContactClose">X</a>
                <h1 style="color: brown;">Update your information</h1>
                    <form action="{% url 'myinfo' %}" method="POST">
                        <p><label>Birthday：</label>{{my_profileForm.birthday}}</p>
                        <p>
                            <label>Gender：</label>
                            </label>{{my_profileForm.gender}}
                        </p>
                         <p><label>Address：</label>{{my_profileForm.address}}</p>
                        <div >
                            <button id="id_post_button" type="submit" >Post</button>
                        </div>
                        {% csrf_token %}
                    </form>

            </div>

        </div>


{% endblock %}
