{% extends "goods/base.html" %}
{% block content %}
        <link rel="stylesheet" type="text/css" href="../static/css/pay.css"/>
        <div class="container" style="width: 92%; height: 100%; margin-top: 100px; background: rgba(255,255,255,0.85)">
            <div class="left">
                <h3>
                    {% if pic == '' %}
                        <a href="#"><img src="../static/information/img/flower.jpg"/></a>
                    {% else %}
                        <a href="#"><img src="{% url 'photoProfile' userId %}"/></a>
                    {% endif %}
                    <span >{{user.username}}</span>
                </h3>
                <div>
                    <h4>Orders</h4>
                    <ul>
                        <li><a href="{% url 'cart' %}">My Cart</a></li>
                        <li><a href="{% url 'profile' %}">My Orders</a></li>
                    </ul>
                    <h4>Account</h4>
                    <ul>
                        <li  class="on"><a href="{% url 'myinfo' %}">My profile</a></li>
                        <li><a href="{% url 'myinfo' %}">My adress</a></li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <h2><strong>Profile</strong></h2>
                <div class="flex">
                    <div class="col1">
                        {% if pic == '' %}
                            <a href="#"><img src="../static/information/img/flower.jpg"/></a>
                        {% else %}
                            <a href="#"><img src="{% url 'photoProfile' userId %}"/></a>
                        {% endif %}
                    </div>
                    <div class="col2">
                        <h3 class="title"><strong style="float: left;">Personal info</strong></h3>
							<div>Name: {{user.username}}</div>
                        <div>Contact information：{{user.email}}</div>
                        <div>Address: {{address}}</div>

                        <h3> Cost </h3>
                        <div>Total: ${{total_price}}</div>
                        <div>Coupon: $0</div>
                        <div>Amount of money: ${{total_price}}</div>
                        <h3>Method</h3>
                        <center>
                            <div class="img-box">
                                <img class="code"  src="https://image-static.segmentfault.com/149/570/149570997-5b987cc928d69_articlex">
                            </div>
                        </center>
                        <div>Pay from Seller's QR code</div>
                        <div>Shipping time: 3 days</div>
                    </div>
                </div>

            </div>


        </div>


{% endblock %}
