 {% extends "goods/base.html" %}
{% block content %}
        <div class="container" style="width: 92%; height: 100%; margin-top: 100px; background: rgba(255,255,255,0.85)">
            <div class="left">
                <h3>
                    <a href="#"><img src='../static/eCommerce/img/flower.jpg'/></a>
                    <span >{{user.username}}</span>
                </h3>
                <div>
                    <h4>Orders</h4>
                    <ul>
                        <li><a href="{% url 'cart' %}">My Cart</a></li>
                        <li><a href="{% url 'profile' %}">My Orders</a></li>
                    </ul>
                    <h4>Account</h4>
                    <ul>
                        <li  class="on"><a href="{% url 'myinfo' %}">My profile</a></li>
                        <li> <a href="{% url 'myinfo' %}">My address</a></li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="info">
                    <div style="float: left; width: 50%; height: 100%;">
                        <a href="#" class="fl"><img src='../static/eCommerce/img/flower.jpg' /></a>
                        <p ><span>{{user.username}}</span>
                    </div>

                    <div style="float: right; height: 50% ; margin-top: 5px;">{{user.email}}</div>
                </div>
                <div class="bott">
                    <div >
                        <i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
                        <p class="fl"><span>Unpaid orders: <strong style="color: #A10000;">0</strong></span>
                            <a href="myorderq.html"> Check your unpaid orders></a>
                        </p>
                    </div>
                    <div >
                        <i class="fa fa-heart-o fa-4x" aria-hidden="true"></i>
                        <p class="fl"><span>Completed Orders: <strong style="color: #A10000;">0</strong></span>
                            <a href="myorderq.html">Check your Completed orders></a>
                        </p>
                    </div>
                    <div>
                        <i class="fa fa-shopping-cart fa-4x" aria-hidden="true"></i>
                        <p class="fl"><span>Cart: <strong style="color: #A10000;">0</strong></span>
                            <a href="{% url 'cart' %}">Check your cart></a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
{% endblock %}
