 {% extends "goods/base.html" %}
{% block content %}
        <div class="container" style="width: 92%; height: 100%; margin-top: 100px; background: rgba(255,255,255,0.85)">
            <div class="left">
                <h3>
                    {% if pic == '' %}
                        <a href="#"><img src="../static/information/img/flower.jpg"/></a>
                    {% else %}
                        <a href="#"><img src="{% url 'photoProfile' userId %}"/></a>
                    {% endif %}
                    <span >{{user.username}}</span>
                </h3>
                <div>
                    <h4>Orders</h4>
                    <ul>
                        <li><a href="{% url 'cart' %}">My Cart</a></li>
                        <li><a href="{% url 'profile' %}">My Orders</a></li>
                    </ul>
                    <h4>Account</h4>
                    <ul>
                        <li  class="on"><a href="{% url 'myinfo' %}">My profile</a></li>
                        <li> <a href="{% url 'myinfo' %}">My address</a></li>
                    </ul>
                    <h4>Become a seller</h4>
                    <ul>
                        {% if isSeller == True %}
                            <li><a href="/seller/sellerinfo?userId={{ userId }}">My Shop</a></li>
                        {% else %}
                            <li><a href="/seller/createSeller?userId={{ userId }}">My Shop</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="info">
                    <div style="float: left; width: 50%; height: 100%;">
                        {% if pic == '' %}
                            <a href="#"><img src="../static/information/img/flower.jpg"/></a>
                        {% else %}
                            <a href="#"><img src="{% url 'photoProfile' userId %}"/></a>
                        {% endif %}
{#                        <p ><span>{{user.username}}</span>#}
                    </div>

                    <div style="float: right; height: 50% ; margin-top: 5px;">Email: {{user.email}}</div>
                </div>
                <div class="bott">
                    <div >
                        <i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
                        <p class="fl"><span>Paid orders: <strong style="color: #A10000;"></strong></span>
                            <a href="/order/showAllOrder"> Check your orders></a>
                        </p>
                    </div>
                    <div>
                        <i class="fa fa-shopping-cart fa-4x" aria-hidden="true"></i>
                        <p class="fl"><span>Cart: <strong style="color: #A10000;"></strong></span>
                            <a href="{% url 'cart' %}">Check your cart></a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
{% endblock %}
